# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environment
venv/
.env/
.venv/

# Editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python-specific
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Cache do pip
pip-log.txt
pip-delete-this-directory.txt

# Arquivos temporários
*.swp
*.swo
